<!doctype html>
<html>
<title>Membership List</title>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<h2>Group 10: Project MICA</h2>
<h3>Page must be refreshed to view additional incoming entries</h3>
<body>
    <table border=1 class="center">
        <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Driver's License No.</td>
        <td>State Abbr.</td>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row.first}}</td>
            <td>{{row.last}}</td>
            <td>{{row.number}}</td>
            <td>{{row.state}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>